@use "./colour_palette" as palette;

$primary:   palette.$blue-500 !default;
$secondary: palette.$blue !default;
$tertiary:  palette.$blue !default;
$success:   palette.$green-500 !default;
$info:      palette.$cyan-500 !default;
$warning:   palette.$orange-500 !default;
$danger:    palette.$red-500 !default;
$light:     palette.$gray-100 !default;
$dark:      palette.$gray-900 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;
