$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto;
$font-family-monospace: SFMono-Regular, Menlo;

$font-family-base: $font-family-sans-serif; // var()

$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5;
